body{
    background-color: bisque;
    /* margin-left: 1%; */
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#bmiImage {
    display: block;
    margin: 0 auto;
    max-width: 200px;
    max-height: 200px;
}
